/* Colors Used
Text: #2b2b2b
Primary: #2C6E49 - dark spring green
Secondary: #175934 (unvisited links)
tertiary-color:  #053C1D- (for hover link)
Visited links: #6D2C51
 */

:root {
    --primary-color: #2C6E49;
    --secondary-color: #175934;
    --tertiary-color: #053C1D;
    --footer-color: #70A788;/*maybe? - also nav hover*/
    --text-color: #2b2b2b;
    --visited-link: #6D2C51;
    --font-weight-headings: 700;
}

* {
    box-sizing: border-box;
}

/************* Default Text Elements ********/

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

h1 {
    font-size: 30px;
    font-weight: var(--font-weight-headings);
}

h2 {
    font-size: 24px;
    font-weight: var(--font-weight-headings);
}

h3 {
    font-size: 18px;
    font-weight: var(--font-weight-headings);
}

/******** End Default Text Elements ********/


/******** Links ********/
a:link {
    color: var(--secondary-color);
}

a:visited {
    color: var(--visited-link);
}

a:hover,
a:focus {
    text-decoration: none;
    background-color: var(--tertiary-color);
    color: white;
}

a:active {
    color: var(--visited-link)
}

/******** End Links ********/


/******** Header / Nav Bar ********/
.page-header {
    display: flex;
    width: 100%;
    padding: 20px;
    background-color: var(--primary-color)
}

.page-header__item {
    flex: 0 1 200px;
}

.page-header__item:last-child {
    flex-grow: 1;
    text-align: right;
}

.nav {
    height: 50px;
    width: 100%;
    background-color: var(--primary-color);
    position: relative;
}

.nav>.nav-btn {
    display: none;
}

.nav>.nav-links {
    display: inline;
    float: right;
    font-size: 18px;
}

.nav>.nav-links>ul li a {
    display: block;
    padding: 0 8px;
    color: #fff;
    line-height: 40px;
    font-size: 18px;
    /*     text-decoration: none; */
}

.nav>.nav-links>ul {
    padding: 0;
    margin-top: 5px;
    list-style: none;
    position: relative;
}

.nav>.nav-links>ul li {
    display: inline-block;
    background-color: var(--primary-color);
}

.nav>.nav-links>ul li a:hover {
    background-color: var(--footer-color);
    border-radius: 5px;
}

.nav>#nav-check {
    display: none;
}

.nav-links--active {
    text-decoration: none;
}
/******** End Header / Nav Bar ********/


/******** Main Section ********/
main {
    max-width: 770px;
    margin: 0 auto;
    flex: 1;
}
/******** End Main Section ********/


/******** Profile Section Home Page ********/
/* .profile {
    max-width: 700px;
    margin: 0 auto;
}
 */
.profile_picture {
    float: left;
    width: 150px;
    margin-right: 40px;
    margin-top: 10px;
    border-radius: 50%;
}
/******** END Profile Section Home Page  ********/


/******* Grid Work Page *******/
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.grid__item {
    background-color: lightgray;
}
/*******End Grid Work Page*******/


/********Contact Form Grid ********/
.contact-form--email {
    grid-area: email;
}

.contact-form--tel {
    grid-area: telephone;
}

.contact-form--message {
    grid-area: message;
}

textarea {
    width: 100%;
    height: 100px;
}

.contact-form--send {
    grid-area: send;
    text-align: center;
}

#contact-form {
    display: grid;
    border: 3px #70A788 solid;
    padding: 10px;
    gap: 10px;
    grid-template-areas:
        'email telephone'
        'message message'
        'send send';
}

/******** End Contact Form Grid ********/


/******** Buttons *******/
button {
    border: none;
    font-family: inherit;
    background-color: var(--primary-color);
    color: #fff;
    text-decoration: none;
    padding: 5px 8px;
    border-radius: 3px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    transition: opacity 0.9s;
}

/* .button a:link {
    color: #fff;
}

.button a:visited {
    color: #fff;
}
 */
button:hover,
button:focus {
    cursor: pointer;
    opacity: 0.8;
}

/* .button a:active {
    color: #6D2C51;
}
 */
/******** End Buttons ********/


/******** About Page ********/
.about-table {
    text-align: center;
    width: 100%;
}

.about-table th {
    padding: 5px;
    background-color: var(--footer-color);
}

.about-table tr:nth-child(odd) {
    background-color: #f2f2f2;
}

@keyframes color-change {
    0% {
        fill: #edc655;
    }

    50% {
        fill: #fcffad;
    }

    100% {
        fill: #f76414;
    }
}

.sun {
    animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
    from {
        transform: translate(0, 50px);
    }

    to {
        transform: translate(200px, 50px);
    }
}

.cloud-front {
    animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
    from {
        transform: translate(446px, 48px);
    }

    to {
        transform: translate(100px, 48px);
    }
}

.cloud-back {
    animation: 34s cloud-move-reverse infinite alternate linear;
}

/******** About Page End ********/



/******** Footer ********/
.page-footer {
    clear: both;
    display: flex;
    flex-direction: column;
    text-align: center;
    /* background-color: var(--footer-color); */
}
/******** End Footer ********/

/***************** Nav Media Queries ****************/

@media (max-width:750px) {
    .nav>.nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
    }

    .nav>.nav-btn>label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
    }

    .nav>.nav-btn>label:hover,
    .nav #nav-check:checked~.nav-btn>label {
        background-color: rgba(0, 0, 0, 0.3);
    }

    .nav>.nav-btn>label>span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #eee;
    }

    .nav>.nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #333;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0px;
    }

    .nav>.nav-links>ul li a {
        display: block;
        width: 100%;
    }

    /*   */

    .nav>.nav-links>ul li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
        background-color: #333;

    }

    .nav>.nav-links>ul li a {
        margin-left: 40%;
    }

    /*   */
    .nav>#nav-check:not(:checked)~.nav-links {
        height: 0px;
    }

    .nav>#nav-check:checked~.nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
    }
}

/***************** END Nav Media Queries ****************/


/******** Media Queries *******/
@media all and (max-width: 500px) {
    .grid {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 500px) {
    #contact-form {
        grid-template-areas:
            'email'
            'telephone'
            'message'
            'send';
    }
}

@media all and (min-width: 500px) and (max-width: 750px) {
    .grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media all and (max-width: 750px) {
    .grid {
        grid-gap: 10px;
    }

    .grid__item:last-child {
        grid-column: auto / auto;
        grid-row: auto / auto;
    }

    h1 {
        font-size: 22px;
    }
}

/******** End Media Queries *******/