### Node ###
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

#ESLintrc
.eslintrc.json
.eslintrc.js

# Optional stylelint cache
.stylelintcache

# Optional REPL history
.node_repl_history

# Yarn Integrity file
.yarn-integrity

# stylelint
stylelint.config.js

# Stores VSCode versions used for testing VSCode extensions
.vscode-test

# VScode
.vscode

# yarn v2
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

### Node Patch ###
# Serverless Webpack directories
.webpack/

#dotenv
.env*
.flaskenv*
!.env.project
!.env.vault

#template folder#
templates